<flex-div class="home__wrapper" direction="column" alignItems="center" justifyContent="center">
  <flex-div>
    <lib-card>
      <flex-div alignItems="center" direction="column">
        <flex-div class="user__header">
          Solde total
        </flex-div>
        <flex-div class="user__balance">
          7,39 EUR
        </flex-div>
        <flex-div justifyContent="center" class="user__gains">
          <flex-div class="user__gains--positive user__gains-trend">
            + 18,07%
          </flex-div>
          <flex-div class="user__gains--positive user__gains-balance">
            + 4,07 eur
          </flex-div>
        </flex-div>
      </flex-div>
    </lib-card>
  </flex-div>
  <flex-div justifyContent="space-between" direction="row" [fullWidth]="true">

    <flex-div class="favorite__wrapper" direction="column">
      <flex-div>
        <p>Favorite</p>
      </flex-div>

      <flex-div class="cryptolist" alignItems="center" direction="column" *ngIf="favoriteCryptos.length > 0">
        <flex-div class="crypto-card__wrapper" *ngFor="let crypto of favoriteCryptos">
          <crypto-card [crypto]="crypto" (clickLineEvent)="handleClickLine($event)"></crypto-card>
        </flex-div>
      </flex-div>

    </flex-div>

    <flex-div class="favorite__wrapper" direction="column">
      <flex-div>
        <p>Hot Cryptos</p>
      </flex-div>

      <flex-div class="cryptolist" alignItems="center" direction="column" *ngIf="randomCryptos.length > 0">
        <flex-div class="crypto-card__wrapper" *ngFor="let crypto of randomCryptos">
          <crypto-card [crypto]="crypto" (clickLineEvent)="handleClickLine($event)"></crypto-card>
        </flex-div>
      </flex-div>

    </flex-div>

  </flex-div>
</flex-div>


