//TODO: centraliser police couleur etc...
.header{
  padding: 20px;
  background-color: burlywood;
  &__links{
    margin-left: 20px;
    &--active{
      color: white;
      text-decoration: underline;
    }
  }

  &__logo{
    font-size: 2rem;
  }
}

a {
  font-family: 'Arial', 'serif';
  color: darkblue;
  font-size: 1rem;
  text-decoration: none;
}
